<form id="logForm" method="POST" action="">
    {% csrf_token %}
    <div class="form-group">
        <label>Логин:</label>
        {{login_form.login}}
    </div>
    <div class="form-group">
        <label>Пароль:</label>
        <div class="input-group">
            {{login_form.password}}
            <div class="input-group-append">
                <span class="input-group-text" id="togglePassword1">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </div>
    <span>{{error}}</span>
    <div class="g-recaptcha" data-sitekey="6LeUYYgpAAAAAHjo3qZ8wEhMcl4YkW-N6lQIvJGX"></div>
    <input id="rec-response" name="rec-response" value="">
    <div class="form-group">
        <button type="submit" class="btn btn-primary" style="Cross-Origin-Resource-Policy: same-site;">Войти</button>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function(){
        $("#togglePassword1").click(function(){
            const passwordField = $("#loginPassword");
            const fieldType = passwordField.attr('type');
            passwordField.attr('type', fieldType === 'password' ? 'text' : 'password');
        });

        // Обработка отправки формы
        $("#logForm").submit(function(event) {
            var response = grecaptcha.getResponse();
            // Присваиваем значение полям ответа на капчу
            document.getElementById('rec-response').value = response;

            // Если ответ пустой, прерываем отправку формы и выводим сообщение
            if (response.length == 0) {
                event.preventDefault();
                alert("Подтвердите, что вы не робот.");
            }
        });

        // Обработка изменения ответа на капчу
        $(".g-recaptcha").on('change', function() {
            var response = grecaptcha.getResponse();
            // Выполняем функцию обновления значения поля с ответом на капчу
            updateRecaptchaResponse(response);
        });

        function updateRecaptchaResponse(response) {
            document.getElementById('rec-response').value = response;
        }

        window.updateRecaptchaResponse = updateRecaptchaResponse;
    });

</script>

