{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cтраница сайта</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/mainstyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/cockie.css' %}">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://cdn.osano.com/cookieconsent/OsanoCookieConsent.js"></script>
</head>
<body>

<div class="container">
    <h2>Приветствуем на нашем сайте</h2>
    <button id="loginBtn" class="btn">Авторизация</button>
    <button id="registerBtn" class="btn">Регистрация</button>
    <button id="themeToggle" class="btn btn-secondary">Темная тема</button>
    <div id="loginForm" class="form-container">
        <h3>Форма авторизации</h3>
        <div id="loginErrors"></div>
        {% include 'main/authorization.html'%}
    </div>

    <div id="registerForm" class="form-container">
        <h3>Форма регистрации</h3>
        <div id="registrationErrors"></div>
        {% include 'main/registration.html'%}
    </div>
</div>

<div style="display: none" id="cookieBanner" class="cookie-banner">
    <p>Мы используем куки (cookies), чтобы обеспечить лучшее пользовательское взаимодействие на нашем сайте. Продолжая использовать сайт, вы соглашаетесь с нашей политикой использования куки.</p>
    <button id="acceptCookiesBtn" class="accept-cookies-btn">Принять</button>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="{% static 'main/js/ThemeType.js' %}"></script>
<script src="{% static 'main/js/login.js' %}"></script>
<script src="{% static 'main/js/register.js' %}"></script>

<script>
    //localStorage.clear();
    document.addEventListener('DOMContentLoaded', function() {
        var cookieBanner = document.getElementById('cookieBanner');
        var acceptCookiesBtn = document.getElementById('acceptCookiesBtn');
        var cookiesAccepted = localStorage.getItem('cookiesAccepted');
        console.log(cookiesAccepted);
        if (cookiesAccepted === false || cookiesAccepted===null) {
            cookieBanner.style.display = 'block';
            console.log('csds');
        }

        acceptCookiesBtn.addEventListener('click', function() {
            cookieBanner.style.display = 'none';
            localStorage.setItem('cookiesAccepted', 'true');
        });
    });

   $(document).ready(function() {
        $('#registrationForm').submit(function(event) {
            event.preventDefault();
            var formData = $(this).serialize();
            var csrfToken = $('input[name="csrfmiddlewaretoken"]').val(); // Получаем CSRF-токен из формы

            $.ajax({
                type: 'POST',
                url: '{% url 'registration' %}',
                data: formData,
                headers: {'X-CSRFToken': csrfToken}, // Добавляем CSRF-токен в заголовки запроса
                success: function(data) {
                    console.log(formData);
                    console.log(data.errors);
                    console.log(data);
                    $('#registrationErrors').html('<div class="alert alert-success">' + data.success + '</div>');
                    $('#registrationForm').trigger("reset");
                },
                error: function(xhr, status, error) {
                    console.error("Ошибка при обработке запроса:", xhr.responseText);
                    var errorMessage;
                    try {
                        var errorData = JSON.parse(xhr.responseText);
                        if (errorData.errors) {
                            var errorObject = JSON.parse(errorData.errors);
                            if (errorObject.login && errorObject.login.length > 0) {
                                errorMessage = errorObject.login[0].message;
                            } else {
                                errorMessage = errorData.detail || 'Произошла ошибка';
                            }
                        } else {
                            errorMessage = errorData.detail || 'Произошла ошибка';
                        }
                    } catch (e) {
                        console.error("Ошибка при парсинге ответа сервера:", e);
                        errorMessage = "Произошла ошибка при обработке запроса";
                    }
                    $('#registrationErrors').html('<div class="alert alert-danger">' + errorMessage + '</div>');
                }

            });
        });
    });

    $(document).ready(function() {
        $('#logForm').submit(function(event) {
            event.preventDefault();
            var formData = $(this).serialize();

            $.ajax({
                type: 'POST',
                url: 'php/login.php',
                data: formData,
                success: function(data) {
                    console.log(data);

                    if (typeof data === 'string' && data.trim().startsWith('{') && data.trim().endsWith('}')) {
                        var responseData = JSON.parse(data);
                        console.log(responseData);

                        if (responseData.errors) {
                            $('#loginErrors').html('<div class="alert alert-danger">' + responseData.errors + '</div>');
                        } else if (responseData.success && responseData.token) {
                            $('#loginErrors').html('<div class="alert alert-success">' + responseData.success + '</div>');
                            window.location.href = 'php/personal_cabinet.php?token=' + responseData.token;
                        } else {

                            $('#loginErrors').html('<div class="alert alert-danger">Некорректный формат данных</div>');
                        }
                    } else {

                        $('#loginErrors').html('<div class="alert alert-danger">' + data + '</div>');
                    }
                }
            });
        });
    });
</script>

</body>
</html>
