{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'cabinet/css/personal_cabinet.css' %}">
    <title>Личный кабинет</title>
</head>
<body class="{{ current_theme }}">
<div>
    <link rel="stylesheet" type="text/css" href="{% static 'cabinet/css/secondstyle.css' %}">
    <h1>Личный кабинет</h1>
    <p id="cookie-content"></p>
    {% if guest_mode %}
        <p>Добро пожаловать, {{ username }}, в гостевой режим!</p>
    {% elif username %}
        <p>Добро пожаловать, {{ username }}!</p>
    {% else %}
        <p>Добро пожаловать, Гость!</p>
    {% endif %}
    {% if not guest_mode %}
        <form id="theme-form">
            {% csrf_token %}
            <label>Выберите тему:</label>
            <button id="theme-switch-btn" type="button" value="{% if current_theme == 'light' %}dark{% else %}light{% endif %}">
                {% if current_theme == 'light' %}
                    Темная тема
                {% else %}
                    Светлая тема
                {% endif %}
            </button>
        </form>
    {% endif %}
    {% if username != null and jwt_token != null and not guest_mode%}
        <form method="post" action="{% url 'retrieve_data' %}">
            {% csrf_token %}
            <button class="btn" type="submit">Вывод данных из базы на страницу</button>
        </form>
        <form method="post" action="{% url 'total_records' %}">
            {% csrf_token %}
            <button class="btn" type="submit">Общее количество записей в таблице</button>
        </form>
        <form method="post" action="{% url 'count_records_last_month' %}">
            {% csrf_token %}
            <button class="btn" type="submit">Подсчет количества записей за последний месяц</button>
        </form>
        <form method="post" action="last_added_record.php">
            {% csrf_token %}
            <button class="btn" type="submit">Какая запись была сделана последней</button>
        </form>
        <form method="post" action="display_results.php">
            {% csrf_token %}
            <button class="btn" type="submit">Размещение данных на странице</button>
        </form>
        <form method="get" action="search_results.php">
            {% csrf_token %}
            <label for="usersearch1">Поиск по ключевому слову:</label>
            <input type="text" id="usersearch1" name="usersearch" placeholder="Введите ключевое слово">
            <button class="btn" type="submit">Искать</button>
        </form>
        <form method="get" action="search_results_2.php">
            {% csrf_token %}
            <label for="usersearch2">Реализация поиска по фразе:</label>
            <input type="text" id="usersearch2" name="usersearch" placeholder="Введите фразу поиска">
            <button class="btn" type="submit">Искать</button>
        </form>
    {% endif %}
    <form method="post" id="logout-form">
        {% csrf_token %}
        <button type="submit" class="btn" id="logout-btn">Выйти</button>
    </form>
    <div id="message-container"></div>
    <div id="dataContainer">
        {% if guest_mode %}
        {% endif %}
    </div>
</div>
<script src="{% static 'cabinet/js/theme.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let logoutRequested = false;
        let pageRefreshed = false;
        let themeChanged = false;

        const themeSwitchBtn = document.getElementById('theme-switch-btn');
        if (themeSwitchBtn) {
            themeSwitchBtn.addEventListener('click', function() {
                themeChanged = true;
                const currentTheme = document.body.classList.contains('light') ? 'light' : 'dark';
                const newTheme = currentTheme === 'light' ? 'dark' : 'light';
                document.body.classList.remove(currentTheme);
                document.body.classList.add(newTheme);
                saveThemeToDatabase(newTheme);
            });
        }

        document.getElementById('logout-form').addEventListener('submit', function(event) {
            event.preventDefault();
            logoutRequested = true;
            sendLogoutRequest('{{ jwt_token }}');
        });

        function saveThemeToDatabase(theme) {
            // Сохраняем тему в куки
            document.cookie = `theme=${theme}; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/`;
            const cookieContentElement = document.getElementById('cookie-content');
            cookieContentElement.textContent = `Содержимое куки "theme": ${getCookie('theme')}`;
            fetch('{% url 'save_theme' %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    username: '{{ username }}',
                    theme: theme
                 })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Ошибка HTTP: ' + response.status);
                }
                console.log('Тема успешно сохранена в базе данных');
                const themeSwitchBtn = document.getElementById('theme-switch-btn');
                if (theme === 'dark') {
                    themeSwitchBtn.textContent = 'Светлая тема';
                } else {
                    themeSwitchBtn.textContent = 'Темная тема';
                }
            })
            .catch(error => {
                console.error('Ошибка при сохранении темы в базе данных:', error);
            });
        }

        function sendLogoutRequest(token) {
            if (!token) {
                window.location.href = '/';
                return;
            }

            fetch('{% url 'logout' %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    username: '{{ username }}',
                    token: token,
                    error: '{{ error }}'
                 })
            })
            .then(response => {
                if (response.ok) {
                    console.log('Успешно отправлен запрос на logout');
                    logoutRequested = true;
                    window.location.href = '/';
                } else {
                    console.error('Ошибка при отправке запроса на logout:', response.status);
                }
            })
            .catch(error => {
                console.error('Ошибка при отправке запроса на logout:', error);
            });
        }

        const themeStorage = localStorage.getItem('theme');
        const cookieContentElement = document.getElementById('cookie-content');
        if (themeStorage) {
            cookieContentElement.textContent = `Содержимое куки "theme": ${themeStorage}`;
        } else {
            cookieContentElement.textContent = 'Куки не найдены или не установлены';
        }
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
        }

        // Получаем содержимое куки и отображаем на странице
        const themeCookie = getCookie('theme');
    });

</script>
<script>
    let isButtonClicked = false;

    history.pushState({page: 'personal_cabinet'}, "Personal Cabinet", "");

    console.log("Не нажал");

    document.addEventListener('click', function(event) {
        isButtonClicked = true;
    });

    window.addEventListener('beforeunload', function(event) {
        if (!isButtonClicked) {
            console.log("Нажал");
            console.log('Кнопка назад была нажата');

            fetch('{% url 'delete_token' %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    username: '{{ username }}'
                })
            })
            .then(response => {
                if (response.ok) {
                    console.log('Токен успешно удален');
                } else {
                    console.error('Ошибка при удалении токена:', response.status);
                }
            })
            .catch(error => {
                console.error('Ошибка при удалении токена:', error);
            });
        }
    });

</script>

</body>
</html>
